# Create .env file in root directory with following details

# Environment
NODE_ENV=development
DATATYPE=mongodb # Database Type

# MySQL Variables
MYSQL_HOST=host # Use -> database (Name of the database service in Docker Compose)
MYSQL_ROOT_PASSWORD=dbrootpassword # Database Root Password
MYSQL_DATABASE=dbname # Database Name
MYSQL_USER=dbuser # Database User
MYSQL_PASSWORD=dbuserpassword # Database User Password
MYSQL_HOST_PORT=port # Database Host Port (your computer) eg. 3307
MYSQL_PORT=port # Port in the container eg. 3306
MYSQL_VOLUME="/path/to/your/local/mount/folder" # Mount Volume for persisting DB Data

# MongoDB Variables
## Admin Variables (Only for Admins / Launching MongoDB Docker, remove for users)
MONGODB_ADMIN=rootuser
MONGODB_ADMIN_PASSWORD=rootpass

# User Variables
MONGODB_USER=dbuser
MONGODB_USER_PASSWORD=dbuserpassword
MONGODB_HOST_PORT=port # Database Host Port (your computer) eg. 27017
MONGODB_PORT=port # Port in the container eg. 27017
MONGODB_DATABASE=dbname
MONGODB_URI="mongodb://${MONGODB_USER}:${MONGODB_USER_PASSWORD}@service-name:${MONGODB_PORT}/dbname"
MONGODB_VOLUME="/path/to/your/local/mount/folder" # Mount Volume for persisting DB Data

# Backend Variables
APP_HOST_PORT=port # Backend Host Port (your computer) eg. 3000
APP_PORT=port # Port in the container eg. 3000 (usually same as APP_HOST_PORT)

# React Frontend Variables
REACT_APP_HOST_PORT=port # Frontend Host Port (your computer) eg. 5000
REACT_APP_PORT=port # Port in the container eg. 5000 (usually same as REACT_APP_HOST_PORT)